<mat-card>
    <h2>Add Auto</h2>
  
  <form [formGroup]="myForm" autocomplete="off">
    <div class="auto-container">
      <mat-form-field>
        <input
        matInput
        placeholder="Brand"
        formControlName="brand"
        required />
      </mat-form-field>
      <div
      *ngIf="
        myForm.get('brand')?.hasError('required') &&
        myForm.get('brand')?.touched
      "
      style="margin-top: -20px"
    >
      <span class="mda-form-msg"> Este campo es obligatorio </span>
    </div>
  
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Price"
          formControlName="price"
          required
        />
      </mat-form-field>
      <div
      *ngIf="
        myForm.get('price')?.hasError('required') &&
        myForm.get('price')?.touched
      "
      style="margin-top: -20px"
    >
      <span class="mda-form-msg"> Este campo es obligatorio </span>
    </div>
  
  </div>
  
  <div>
    <button class="button"
    mat-raised-button
    color="primary"
    [disabled]="myForm.invalid"
    type="button"
    style="margin-left: 10 px"
    (click)="addAuto()"
  >
  
    Ok
  </button>
  
  <button class="button"
  mat-raised-button
  color="warn"
  type="button"
  trouterLink="/listauto"
  >
  Cancel
  </button>
  
  
  
  
  
    </div>
  
  </form>
  </mat-card>
  
  
